<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<style>
    p{
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 100;
        font-style: italic;
        font-variant: small-caps;
    }
</style>
<body>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, vel. Eius placeat nam facilis maiores esse ut rerum natus, est sint accusantium culpa quas ad provident rem, quae recusandae a?
    A quod sint consectetur commodi magnam sunt accusantium suscipit modi asperiores. Aperiam, in pariatur laboriosam officia soluta officiis fuga laudantium a placeat quos saepe, nulla repellat quas, ipsum quae voluptatibus!
    Voluptatum amet laborum tempora et explicabo libero beatae delectus neque vero, distinctio cumque illo quaerat, sequi in totam molestiae rem minus atque blanditiis deserunt. Perspiciatis aliquid nemo et natus quibusdam.
    Nostrum, autem quas inventore reprehenderit delectus laborum quaerat accusamus rem quod, adipisci magni debitis! Magnam molestiae, fugiat, ducimus ab velit mollitia reiciendis assumenda libero quam exercitationem ea atque vitae tenetur!
    Odit velit porro accusamus molestiae nulla maxime necessitatibus perspiciatis sapiente consectetur sed vero amet fugiat iure mollitia debitis quae doloribus beatae quaerat provident iusto suscipit aut, culpa dicta. Amet, non.
    Pariatur laudantium ad magnam veniam omnis veritatis quia consequatur itaque autem laborum sit at, vitae saepe voluptatem iure mollitia sapiente, repudiandae labore neque, nobis cumque officiis. Earum ratione placeat quae!
    Laudantium, sunt dolorum accusamus earum optio eligendi veniam et dicta molestiae, aspernatur ipsa eum quam! Nobis, inventore quos. Nemo ut aut assumenda libero dignissimos non? Earum animi quia quam consectetur.</p>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</body>
</html> -->