<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/details.css">
    <!-- <link rel="stylesheet" href="/static/css/all.css"> -->
    <!-- <script src="/static/js/register.js"></script> -->
    <title>Student Profile</title>
</head>
<body>
    <div class="container">
        <div class="title">Student Details</div>
        <form action="/user/" method="POST">
            {% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    {{ form.username }}
                </div> 

                <div class="input-box">
                    {{ form.first_name }}
                </div>  

                <div class="input-box">
                    {{ form.last_name }}
                </div> 

                <div class="input-box">
                    {{ form.email }}
                </div> 

                <div class="input-box" id="date">
                    {{ form.date_of_birth }}
                </div> 

                <div class="input-box">
                    {{ form.tel }}
                </div>
                <label id="title">Gender</label>
                <div class="gender-details">
                    {{ form.gender }}
                </div>

                <div class="errors">
                    {{ form.errors }}
                </div>
                
                <div class="button">
                    <input type="submit" value="SignUp">
                </div>
        </div>
        </form> 
</body>
</html>