*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:inherit;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: rgba(0,0,0,0.7) url(/static/img/2.jpg) no-repeat; */
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.6);
    color:white;
}
.container{
    max-width: 400px;
    width: 100%;
    background:rgba(255,255,255);
    padding: 25px 30px;
    border-radius: 10px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position:relative;
    color: black;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px ;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px 12px 0px;
}
form .user-details .input-box{
    margin-bottom: 6px;
    /* width: calc(100% / 2 - 20px); */
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 20px;
    width: 100%;
    outline: none;
    border: none;
    padding-left:10px;
    font-size: 20px;
    background: transparent;
    border-bottom:2px #adadad solid;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    margin-top: 10px;
}
.user-details .gender-details .gender{
    display: flex;
    color: #2c2c2c;
    justify-content: space-between;
}
.user-details .gender-details{
    width: 100%;
    margin-top: 10px;
}
.user-details .gender-details .gender div label{
    display: flex;
    align-items: center;
}
.user-details .gender-details .gender div label input{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.user-details .input-box input:focus{
    border-color: #666699;
}
form .button{
    height: 45px;
    margin: 13px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
    background: linear-gradient(-115deg, #71b7e6, #9b59b6);
    cursor: pointer;
}
.fa-eye{
    cursor: pointer;
}
.fa-eye-slash{
    cursor: pointer;
}
#hide1{
    display: none;
    position: relative;
    top: 28px;
    margin-left: 310px;
}
#hide2{
    position: relative;
    top: 28px;
    margin-left: 310px;
}
#hide3{
    display: none;
    position: relative;
    top: 28px;
    margin-left: 310px;
}
#hide4{
    position: relative;
    top: 28px;
    margin-left: 310px;
}
#date{
    margin-top: -4px;
}
#title{
    font-size: 20px;
    font-weight: 500;
    position:relative;
    color: black;
}
.fa{
    color: rgb(44, 44, 44);
    position: absolute;
}
::placeholder{
    color: rgb(0, 0, 0);
}
li{
    color: #160b0b;
    background-color: white;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    list-style-type: none;
}
form .errors{
    text-align: left;
    margin: 5px;
}
li::marker{
    display: none;
}
#pass-box{
    margin-top: -15px;
}

p{
    color: #3a3a3a;
    background-color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: cursive;
}
.container .messages{
    text-align: center;
    font-variant: small-caps;
}
/* .errors .errorlist li{
    display: none;
} */