*{
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.6);
    color:white;
}
table {
  border-collapse: collapse;
  width: auto;
}

th, td {
    text-align: left;
    color: rgb(14, 14, 14);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 15px;
}
a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(14, 14, 14);
}

tr:nth-child(even) {background-color: #f2f2f2;}
.button{
    padding-top: 25px;
}
.table{
    padding-left: 5px;
}
.delete{
    padding-left: 15px;
}
.home{
    padding: 10px;
    
}
.home a{
    color:#001a6e;
}
.home a:hover{
    color: #001a6e71;
}