*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:inherit;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.6);
    color:white;
}
.container{
    max-width: 400px;
    width: 100%;
    background:rgb(255,255,255);
    padding: 25px 30px;
    border-radius: 10px;
    color: white;
}
.container .login{
    font-size: 25px;
    font-weight: 500;
    position:relative;
    color: black;
    margin-bottom: 50px;
}
.container .login::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px ;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px 12px 0px;
}
form .user-details .input-box{
    margin-bottom: 6px;
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 20px;
    width: 100%;
    outline: none;
    border: none;
    padding-left:20px;
    font-size: 20px;
    background: transparent;
    border-bottom:2px #adadad solid;
    transition: all 0.3s ease;
    margin-bottom: 37px;
    margin-top: 10px;
}
.user-details .input-box input:focus{
    border-color: #666699;
}
form .submit{
    height: 45px;
    margin: 13px 0;
}
form .submit input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .submit input:hover{
    background: linear-gradient(-115deg, #71b7e6, #9b59b6);
    cursor: pointer;
}
.signup{
    padding-top: 10px;
    text-align: center;
}
.text-span{
    color: #666666;
    font-size: 20px;
}
.signup-btn{
    font-size: 20px;
    text-decoration: none;
    color: #3a3a3a;
}
.signup-btn:hover{
    color: #666666;
    cursor: pointer;
}
#hide1{
    display: none;
    position: relative;
    top: 28px;
    margin-left: 310px;
}
#hide2{
    position: relative;
    top: 28px;
    margin-left: 310px;
}
::placeholder{
    color: rgb(44, 44, 44);
    padding-bottom: 10px;
}

.fa{
    color: #626262;
    position: absolute;
}
.fa-user{
    top: 250px;
}
.fa-key{
    top: 317px;
}
#pass-box{
    margin-top: -25px;
}
p{
    color: #3a3a3a;
    font-size: 15px;
    font-weight: 700;
    font-family: cursive;
}
form .messages{
    text-align: center;
    font-variant: small-caps;
}
.top{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 65px;
    text-align: center;
}
#guide{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
#welcome{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}