<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Student</title>
</head>
<body>
    <h1>Members</h1>

    <table border="1">
    {% for x in mymembers %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.username }}</td>
            <td>{{ x.first_name }}</td>
            <td>{{ x.last_name }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.date_of_birth }}</td>
            <td>{{ x.gender }}</td>
            <td>{{ x.tel }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>