<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Student</title>
    <link rel="stylesheet" href="/static/css/list.css">
</head>
<body>
    <h1>Student List</h1>

    <div class="table" style="overflow-x:auto ;">
        <table>
            <tr>
                <th>Matric Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>D.O.B</th>
                <th>Gender</th>
                <th>Phone Number</th>
            </tr>
        {% for x in student %}
            
            <tr>
                <td>{{ x.username }}</td>
                <td>{{ x.first_name }}</td>
                <td>{{ x.last_name }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.date_of_birth }}</td>
                <td>{{ x.gender }}</td>
                <td>{{ x.tel }}</td>
                <td class="delete"><a href="/delete/{{x.username}}">Delete</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="home">
        <a href="/index/">Back to homepage</a>
    </div>
    <div class="button">
        <a href="/listout/">
            <input type="submit" value="SignOut">
        </a>
        
    </div>
</body>
</html>